<nav>
    <div class="container">
        <div>
            <h3>Search-T</h3>
        </div>
        <ul class="ancors-container">
            <li>
                <a href="https://github.com/diegoinost02/search-t" target="_blank">
                    <img class="svg" src="/assets/svg/github.svg" alt="github">
                </a>
            </li>
            <li>
                <a href="https://diegoinost.dev/" target="_blank">
                    <img class="svg" src="/assets/svg/user.svg" alt="github">
                </a>
            </li>
            <li>
                <a href="https://developer.themoviedb.org/reference/intro/getting-started" target="_blank">
                    <img class="svg" src="/assets/svg/book.svg" alt="github">
                </a>
            </li>
        </ul>
    </div>
</nav>

<a style="display: none;" href="https://librecounter.org/referer/show" target="_blank" rel="noopener">
    <img class="analitics" src="https://librecounter.org/counter.svg" referrerPolicy="unsafe-url" />
</a>