<nav>
    <div class="container">
        <div>
            <h3>Search-T</h3>
        </div>
        <ul class="ancors-container">
            <li>
                <a href="https://github.com/diegoinost02/search-t" target="_blank">
                    <img class="svg" src="/assets/github.svg" alt="github">
                </a>
            </li>
            <li>
                <a href="https://diegoinost.dev/" target="_blank">
                    <img class="svg" src="/assets/user.svg" alt="github">
                </a>
            </li>
        </ul>
    </div>
</nav>