<nav>
    <ul>
        <li>
            <h3>Search-T</h3>
        </li>
        <div class="ancors-container">
            <li>
                <a href="https://github.com/diegoinost02/search-t" target="_blank">
                    <img class="svg" src="/assets/github.svg" alt="github">
                </a>
            </li>
            <li>
                <a href="https://diegoinost.dev/" target="_blank">
                    <img class="svg" src="/assets/user.svg" alt="github">
                </a>
            </li>
        </div>
    </ul>
</nav>