@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

html, body { height: 100%;}
body { margin: 0;}

* {
    font-family: 'Poppins', sans-serif;
    border-radius: border-box;
}

:root{
    color-scheme: light dark;
    background-color: #14141a;
}


h1 ,h2, h3, h4, h5, h6{
    color: white;
    text-wrap:balance;
}
p{
    color: white;
    text-wrap: pretty;
}